@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
  scroll-behavior: smooth;
}
.division1{
    background-image: url('../images/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family: 'Gabriela', serif;
    /* padding-bottom:5%; */
  }
  .division1 h1{
    padding: 2px;
    margin: 5px;
  }
  .division1 p{
    padding: 2px;
  }
  #logo{
    margin-top: 18px;
    margin-bottom: 24px;
    width: 60px;
    height: 50px;;
  }
  .about{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
  }
  .services{
    text-align: center;
    background-image: url("../images/s_image.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    font-family: 'Copse', serif;
    font-size: 18px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .services h2{
    font-family: 'Gabriela', serif;
    
  }
  